
/* General Styles */
body {
    font-family: Helvetica Black, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header .logo img {
    max-height: 500px; /* Increased size */
    width: auto; /* Ensure proportional scaling */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0.5em;
}

nav ul li a {
    display: block;
    padding: 0.5em 1em;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #ffd700;
    color: #333;
}

nav ul li a.active {
    background-color: #ffd700;
    color: #333;
}

/* Main Content */
main {
    padding: 2em;
}

h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 1em;
}

/* Responsive Grid for Embedded Models */
.model-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2em;
    padding: 0 30px; /* Add horizontal padding for gutters */
    padding-bottom: 80px; /* Adjust as needed */
}

.sketchfab-embed-wrapper iframe {
    width: 100%;
    height: 300px;
    border: none;
    margin: 0 auto; /* Center embeds in grid */
    margin-bottom: 80px; /* Add space below each embed */
    max-width: calc(100% - 30px); /* Add a margin to prevent touching screen edges */
    box-sizing: border-box; /* Include padding/margins in width calculation */
}
body {
    margin-bottom: 80px; /* Matches the footer height */
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    left: 0; /* Ensure it starts from the left edge */
    right: 0; /* Ensure it ends at the right edge */
    width: 100%; /* Span the entire width */
    box-sizing: border-box; /* Include padding in the width calculation */
    height: 80px; /* Ensure height matches the margin-bottom of the body */
}


/* Responsive Design */
@media screen and (max-width: 768px) {
    .model-grid {
        grid-template-columns: 1fr; /* Stack items on smaller screens */
        padding-bottom: 100px; /* Increase padding for mobile */
        
    }
    body {
        margin-bottom: 100px; /* Matches footer height on mobile */
    }
    nav ul {
        flex-direction: column; /* Stack navigation links vertically */
    }

    nav ul li {
        margin: 0.5em 0;
    }
}
